<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<P>
 America's Promise initiative was an Obama administration initative to help scale up the amount of people working
    in the tech industry. This particular portion is called the Java Web Development Bootcamp. The focus is web based programming
    through the Java computer language, however the concepts and curriculum is overall computer science crunched into 8 weeks.


</P>

</body>
</html>