<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web development Bootcamp:The True Stories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="mycss.css">
</head>
<body class="shakethat">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/page2">page2</a>

                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>




<div class="container">
    <div class="col">

    </div>
    <div class="row-3 text-center">
        <h4>9/5/19</h4>
        <h2>Blog Entry 1:</h2> <h3>GitHub and understanding why you have to type slow</h3>
        <p>The word version control seemed like something out of a dystopian movie but ...<a href="/lipsum">View More</a></p>
    </div>
    <div class="col text-center">

        <div class="row-3">
            <h4>9/7/19</h4>
            <h2>Blog Entry 2:</h2> <h3>GitHub Taking control and pushing like a pro</h3>
            <p>In two short days things have changed...<a href="/lipsum">View More</a></p>

        </div>
        <div class="col">
        </div>
        <div class="row-6">
            <h4>9/10/19</h4>
            <h2>Blog Entry 3:</h2> <h3>Program Design and Algorithms</h3>
            <p>Something new, need to adjust and think like a programmer...<a href="/lipsum">View More</a></p>

            <div class="row-3 text-center">
                <h4>9/12/19</h4>
                <h2>Blog Entry 4:</h2> <h3>Program Design and Algorithms</h3>
                <p>I think I'm turning in the computer ...<a href="/lipsum">View More</a></p>
            </div>
            <div class="row-3">
                <h4>9/13/19</h4>
                <h2>Blog Entry 5:</h2> <h3>Core Java</h3>
                <p>This is the "Basics!??"...<a href="/lipsum">View More</a></p>
            </div>

            <div class="row-3 text-center">
                <h4>9/15/19</h4>
                <h2>Blog Entry 6:</h2> <h3>Core Java</h3>
                <p>Better than a couple of days ago ...<a href="/lipsum">View More</a></p>
            </div>

            <div class="row-3">
                <h4>9/17/19</h4>
                <h2>Blog Entry 7:</h2> <h3>Object Oriented Programming</h3>
                <p>The next step, one giant step for me, one small step for some programmer like on TV...<a href="/lipsum">View More</a></p>
            </div>
            <div class="row-3 text-center">
                <h4>9/20/19</h4>
                <h2>Blog Entry 8:</h2> <h3>Object Oriented Programming</h3>
                <p>Ok! This is like the movie inception, classes linked to classes inside classes ...<a href="/lipsum">View More</a></p>
            </div>
            <div class="row-3 text-center">
                <h4>9/22/19</h4>
                <h2>Blog Entry 9:</h2> <h3>HTML and Boostrap</h3>
                <p>This feels like a vacation, ok a working vacation ...<a href="/lipsum">View More</a></p>
            </div>
            <div class="row-3 text-center">
                <h4>9/26/19</h4>
                <h2>Blog Entry 10:</h2> <h3>HTML and Boostrap</h3>
                <p>Why won't this grid thing work!! arghhhh! ...<a href="/lipsum">View More</a></p>
            </div>

        </div>



</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 </body>
</html>