<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>

<p>Hello World!(side note I have to google who came up with that. But welcome to my blog about my experiences in bootcamp, no not the military
but I guess it can feel like that... "Push that code!!" is what our drill instructors would say, I mean teachers.
Well, my name is DeVon, I have a background in biological sciences. I was working for a biotech company as a laboratory technician
and then a project manager in a previous life but now I'm a software engineer(gotta claim it). If you want to find out more about code and my life outside of code please
visit my <a href="http://www.github.com/deethompson">Github</a> and my <a href="http://www.twitter.com/justdevonT">Twitter</a> </p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>